# Contains our Cosmos API keys
.vscode/settings.json


# Blog is the build artifact
src/blog/


# release-notes is auto generated, from Git log, on each build
release-notes.md


# .net core build items
bin/
obj/
